body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: #F2F2F2;
  font-family: 'Inter', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  padding: 48px 32px 64px;
  gap: 32px;
  width: 544px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

h1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.011em;
  color: #21262E;
  ;
  margin: 0;
  margin-bottom: 24px;
}

input {
  border: none;
  outline: none;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #AFBAC5;
  flex: 1;
}

.input-container {
  width: 480px;
  height: 52px;
  display: flex;

  align-items: center;
  padding: 10px;
  gap: 10px;
  border: 1px solid #AFBAC5;
  border-radius: 8px;
  background-color: #FFF;
  margin-bottom: 24px;
  box-sizing: border-box;
  
}

.input-container.has-error {
  border-color: red;
}

.input-icon {
  color: #AFBAC5;
  width: 20px;
  height: 20px;
  
}

.password-toggle {
  background: none;
  border: none;
  cursor: pointer;
  color: #AFBAC5;
}

.button {
  width: 480px;
  padding: 16px 0;
  background-color: #34C759; 
  color: white;
  border: none;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.button:disabled {
  background-color: #AFBAC5;
}

.link-container {
  display: flex;
  justify-content: center;
  width: 480px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #388BFD;

}

.link-container a {

  font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: center;
  text-decoration: none;
  color:  #388BFD;
  font-weight: bold;

}

.link-container a:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: left;
  width: 480px;
}

.spinner{
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;

}